:root {
    --yellow: #ebb14d;
    --darkblue: #343c6c;
    --light: #cfd8ef;
    --white: #fff;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
  }
  
  .clearfix {
    clear: both;
  }
  
  header {
    padding: 10px 0px 0px 0px;
  }
  
  .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .col3 {
    width: 25%;
    float: left;
  }
  
  .col4 {
    width: 33.3%;
    float: left;
  }
  
  .col6 {
    width: 50%;
    float: left;
  }
  
  .input-box {
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #ddd;
    margin-left: 60px;
    width: 300px;
    margin-top: 5px;
  }
  
  .input-box input {
    border: none;
  
    outline: none;
    width: 82%;
  }
  
  .logo {
    display: block;
    float: left;
  }
  
  .s-btn {
    height: 35px;
    width: 59px;
    margin: -11px;
    background: var(--darkblue);
    color: var(--white);
    border: none;
    margin-right: -20px;
    cursor: pointer;
  }
  
  .s-btn:hover {
    background: var(--yellow);
    color: var(--darkblue);
  }
  
  .topnav li {
    list-style: none;
    float: left;
    padding: 15px 20px;
  }
  
  .topnav li a {
    text-decoration: none;
    color: var(--darkblue);
  }
  
  .btn-r {
    padding: 11px 25px;
    background: var(--darkblue);
    color: white;
    border: none;
    margin-top: -16px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 90px;
  }
  
  .btn1 {
    padding: 11px 25px;
    background: var(--darkblue);
    color: white;
    border: none;
    margin-top: -16px;
    font-size: 15px;
    cursor: pointer;
  }
  .btn1:hover {
    padding: 11px 25px;
    background: var(--yellow);
    color: white;
    border: none;
    margin-top: -16px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .btn-r:hover {
    background: var(--yellow);
    color: var(--darkblue);
  }
  
  .topnav {
    float: right;
  }
  
  .topnav li a:hover {
    color: var(--yellow);
  }
  
  .header-bottom {
    background: var(--darkblue);
  }
  
  .bottomnav li {
    list-style: none;
    float: left;
    padding: 13px 30px;
  }
  
  .bottomnav li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 200;
  }
  .bottomnav li a:hover {
    color: var(--yellow);
  }
  
  .active {
    background: var(--yellow);
  }
  
  .active a {
    color: var(--darkblue) !important;
  }
  
  .b-btn {
    padding: 13px 25px;
    background: var(--yellow);
    color: var(--white);
    border: none;
    font-size: 16px;
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .taxi-img {
    width: 100%;
  }
  
  .sec-1 {
    padding: 50px 0px 0px 0px;
    height: 280px;
    background: linear-gradient(var(--light), #fff);
  }
  
  .heading {
    font-size: 50px;
    color: var(--darkblue);
  }
  
  .sec-2 {
    margin-top: 3%;
    padding: 100px 0px;
    padding-bottom: 200px;
  }
  
  .heading-2 {
    color: var(--darkblue);
    text-align: center;
  }
  
  .border {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .box {
    width: 200px;
    text-align: center;
  }
  
  .sec-4 {
    padding: 100px 0px;
  }
  
  .box h3 {
    font-size: 15px;
    color: var(--darkblue);
    margin: 15px 0px;
    font-weight: 500;
  }
  
  .box p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .fa-user {
    font-size: 30px;
    background: #ecb34c;
    border-radius: 33px;
    color: var(--darkblue);
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  
  .fa-car {
    font-size: 30px;
    background: #ecb34c;
    border-radius: 33px;
    color: var(--darkblue);
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  
  .heading-3 {
    color: var(--darkblue);
    padding-left: 20px;
  }
  
  .p3 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 500px;
    padding-left: 90px;
  }
  
  .p5 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
  
    color: var(--white);
  }
  
  .p5:after {
    content: "";
    position: absolute;
    top: 75%;
    right: 5%;
    height: 50%;
    width: 50px;
    background: url(../image/quote.png);
    background-size: 50px;
    transform: rotateZ(184deg);
  }
  
  .content {
    float: left;
    padding: 41px;
  }
  
  .sec-5 {
    background: var(--darkblue);
    padding: 100px 0px;
    position: relative;
    height: 150px;
    margin-top: -100px;
  }
  .footer-distributed {
    background: var(--darkblue);
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  .footer-distributed .footer-left p {
    color: var(--white);
    font-size: 14px;
    margin: 0;
  }
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease 0.25s;
  }
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease 0.25s;
  }
  .footer-distributed .footer-links a:before {
    content: "/";
    font-size: 10px;
    left: 0;
    color: var(--white);
    display: inline-block;
    padding-right: 5px;
  }
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 200px;
  }
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--yellow);
    border-radius: 2px;
    font-size: 20px;
    color: var(--darkblue);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all 0.25;
  }
  .footer-distributed .footer-right a:hover {
    transform: scale(1, 1);
  }
  .footer-distributed p.footer-links a:hover {
    text-decoration: underline;
  }
  ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 6px;
  }